.piece {
    color:#000;
    display:block;
    font-size:60px;
    margin-top:30px;
    text-decoration:none;
    text-shadow:0 1px #fff;
    width:80px;
    height:50px;
    text-align:center;
}
.dropzone {
	
}
#chess_board { border:5px solid #333; }
#chess_board td {
    background:#fff;
    background:-moz-linear-gradient(top, #fff, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
    box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    width:80px;
    height:80px;
    border: 1px solid red;
}
#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
    background:#ccc;
    background:-moz-linear-gradient(top, #ccc, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
    box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

#messages {
    padding-left: 0;
    margin-left: 0;
    border-bottom: 1px solid gray;
    width: 100%;
}

#messages li {
    margin: 0;
    padding: 0.25em;
    border-top: 1px solid gray;
}

div.messages {
    max-height: 680px; 
    overflow-y: auto; 
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
}

ul#num-rows li {
    padding-top: 35px;
    height:45px;
    text-align:center;
    vertical-align:middle;
    width:80px;
    font-size:60px;
    color: lightgrey;
}

ul#abc-colls {
    padding-top: 20px;
    height:50px;
    font-size:60px;
    color: lightgrey;
    margin-left: 0;
    margin-bottom: 0;
}

ul#abc-colls li {
    width:81px;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
